.card-chat {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px;
    height: 30rem;
  }

  form {
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
    background-color: #71a0a5;
  }
  
  .name-field {
    margin-bottom: 40px;
  }
  
  button.chat {
   height: 40px;
   width: 80px;
   border-radius: 5px;
   color: black;
   border-color: black;
  }
  
  .render-chat {
    max-width: 350px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
    margin-bottom: 15px;
    background-color: #71a0a5;
  }
  
  h3 {
    color: #2f72da;
  }
  
  span {
    color: black;
  }

  div.main-chat {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }