

.Auth-div {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  grid-template-rows: 20px;
  font-size: calc(10px + 2vmin);
}

.vl {
  border-left: 4px solid #acc6aa;
  height: 400px;
}



